body
      {
       background: linear-gradient(135deg, #ffffff 0%, #f3e8ff 100%);
      }
      header
      {
        display:flex;
        justify-content:center;
        align-items:center;
        height:70px;
        background-color:black;
      }
      .one,.two,.three,.four,.five
      {
        background-color:transparent;
        color:white;
        border:none;
        font-family:"Poppins",sans-serif;
        font-size:15px;
      }
      .h-d
      {
        display:flex;
      }
      .one
      {
        font-size:25px;
        width:350px;
        font-weight:500;
        flex-wrap:none;
      }
      .d-1
      {
        display:flex;
        align-items:center;
        justify-content:center;
      }
      .d-2
      {
        margin-left:20%;
        display:flex;
        gap:25px;
      }
      .container
      {
        width:800px;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:8%;
        margin:60px auto;
      }
      .six
      {
        font-size:26px;
        font-weight:500;
        font-family:"Roboto",Arial;
        margin-bottom:5%;
        display:flex;
      }
      .seven
      {
        display:flex;
        text-align:left;
        align-items:left;
        font-family:"inter",Arial;
      }
      label
      {
        font-size:17px;
        margin-bottom:4%;
        margin-top:6%;
        color:rgb(41, 39, 39);
      }
      .d-3
      {
        margin-left:-6%;
        width:380px;
      }
      input
      {
        width:100%;
        padding:10px;
        border-radius:9px;
        border:1px solid #d6d5d5;
      }
      .att-but
      {
        margin-left:3%;
        font-size:18px;
        padding:12px;
        margin-top:6%;
        width:100%;
        text-align:center;
        background:#2563eb;
        border:none;
        color:white;
        border-radius:14px;
        cursor:pointer;
      }
      .result-data,.sessional-data,.assginment-data,.attendance-data
      {
        font-size:16px;
        font-weight:500;
        font-family:"Poppins",Arial;
      }
      .result-data_t
      {
        font-size:16px;
        font-weight:500;
        font-family:"Poppins",Arial;
      }
      .result-div
      {
        display:flex;
        flex-direction:column;
        align-items:left;
        justify-content:center;
      }